{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Website!</h1>
      <p>My Awesome Cart Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Sachin Bansal and Binny Bansal in 2007, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal. as of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.Flipkart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface.

In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing it at $22 billion.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Trading Now</h2>
        <p>Throughout the COVID-19 pandemic, the health and safety of our employees, partners, and customers has been our top priority. We built a COVID-19 testing program from scratch when the pandemic began, to ensure front-line employees had access to free, regular testing—something that wasn’t available in most of their communities. We continue to expand the voluntary testing program, and we’ve already processed millions of tests across more than 800 sites globally. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Watch Video</h2>
        <p>Over the coming weeks, in partnership with local government and public health officials, we are beginning to host on-site vaccination events administered by licensed health care providers at an initial set of Amazon operations buildings in the United States. We’re starting at some fulfillment centers in Missouri, Nevada, and Kansas, but will expand the program across the country as more vaccines become available to front-line employees in other states. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Meet Us</h2>
        <p>This is an important initiative not only for the health and safety of Amazon employees, but for the communities where our teams live and work. Our events will protect Amazon employees while also helping ease the burden on community-run vaccination clinics.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
